.footer-container {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    bottom: 0;
    margin-left: -2%;
}

.footer-section {
    display: flex;
    flex-direction: column;
    margin: 0 80px; 
}

.footer-section h4 {
    margin-bottom: 10px;
    font-weight: bold;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    text-decoration: none;
    color: white;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.payment-methods {
    display: flex;
    align-items: center;

}

.payment-methods img {
    margin-right: 10px;
    width: 100px;

}
